$theme-main-color: #00c45a;

$font-main-color: #081611;
$font-sub-color: #c0c3c8;
$font-white-color: #ffffff;

$border-main-color: #f4f4f4;
$border-sub-color: #f9f9fa;
$border-white-color: #ffffff;

$bg-main-color: #ffffff;
$bg-sub-color: #f9f9fa;
$bg-dark-color: #081611;
