@import '../../variables';

.Accordion {
  display: flex;
  flex-direction: column;
  &__card {
    &--head {
      display: flex;
      flex-direction: row;
      color: $font-main-color;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      border: solid 1px $border-main-color;
      background-color: $bg-main-color;
      padding: 18px 16px;
      cursor: pointer;
      img {
        margin-right: 10px;
      }
    }
    &--content {
      display: none;
      border-left: 1px solid $border-main-color;
      border-right: 1px solid $border-main-color;
      padding: 16px;
    }
    &.active {
      .Accordion__card--head {
        color: $theme-main-color;
        background-color: $bg-sub-color;
      }
      .Accordion__card--content {
        display: block;
      }
    }
    &:not(:first-child) {
      .Accordion__card--head {
        margin-top: -1px;
      }
    }
  }
}